<header class="fixed bg-white lg:static top-0 w-full z-30" x-data="{menuOpen: false}">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex w-full justify-between items-center">
            <div class="flex items-center space-x-2">
                <a href="/project-landingpage-slavainc/" class="flex items-center space-x-2 text-sm/6 font-semibold text-gray-900">
                    <img src="/assets/logo.webp" alt="Logo HD de la empresa SlavaInc" class="h-12 w-12 rounded-lg">
                    <button class="custom-button" data-text="SLAVA Inc">
                        <span class="actual-text">&nbsp;SLAVA Inc&nbsp;</span>
                        <span aria-hidden="true" class="custom-hover-text">&nbsp;SLAVA Inc&nbsp;</span>
                    </button>
                </a>
            </div>
            <!-- Mobile menu button -->
            <div class="lg:hidden ">
                <button @click="menuOpen=true" type="button"
                        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <!-- Navigation links (desktop) -->
            <ul class="hidden lg:flex space-x-8 text-black font-bold">
                <li><a href="/project-landingpage-slavainc/" class="hover:text-[#1f7275]">Inici</a></li>
                <li><a href="/project-landingpage-slavainc/pages/serveis.html" class="hover:text-[#1f7275]">Serveis</a></li>
                <li><a href="/project-landingpage-slavainc/pages/novetats.html" class="hover:text-[#1f7275]">Novetats</a></li>
                <li><a href="/project-landingpage-slavainc/pages/preus.html" class="hover:text-[#1f7275]">Preus</a></li>
                <li><a href="/project-landingpage-slavainc/pages/equip.html" class="hover:text-[#1f7275]">Equips</a></li>
                <li><a href="/project-landingpage-slavainc/pages/contacte.html" class="hover:text-[#1f7275]">Contacte</a></li>
            </ul>
            <!-- Buttons (desktop) -->
            <div class="hidden lg:flex space-x-2 font-bold">
                <a href="/project-landingpage-slavainc/pages/login.html"
                   class="inline-flex items-center justify-center px-4 py-2 text-black bg-gray-200 rounded-full hover:bg-gray-300 transition duration-200">
                    Iniciar sesión
                </a>
                <a href="/project-landingpage-slavainc/pages/register.html"
                   class="animated-btn text-white bg-gradient-to-r from-[#1f7275] to-[#01a0a6] py-2 px-4 rounded-full shadow-lg font-semibold transition-all duration-300 ease-in-out hover:bg-gradient-to-r hover:from-[#01a0a6] hover:to-[#1f7275]">
                    Registrarse
                </a>
            </div>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menuOpen state -->
    <div x-show="menuOpen" @click.away="menuOpen=false" class="lg:hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop -->
        <div class="fixed inset-0 z-10 bg-black opacity-50"></div>
        <div class="fixed inset-y-0 left-0 z-20 w-full bg-white px-6 py-6">
            <div class="flex w-full items-center justify-between">
                <a href="#top" class="flex items-center space-x-2 text-sm/6 font-semibold text-gray-900">
                    <img src="/assets/logo.webp" alt="Logo HD de la empresa SlavaInc" class="h-12 w-12 rounded-lg">
                    <button class="custom-button" data-text="SLAVA Inc">
                        <span class="actual-text">&nbsp;SLAVA Inc&nbsp;</span>
                        <span aria-hidden="true" class="custom-hover-text">&nbsp;SLAVA Inc&nbsp;</span>
                    </button>
                </a>
                <div class="flex items-center justify-between">
                    <button @click="menuOpen=false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mt-6 space-y-2">
                <a href="/project-landingpage-slavainc/" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Inici</a>
                <a href="/project-landingpage-slavainc/pages/serveis.html" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Serveis</a>
                <a href="/project-landingpage-slavainc/pages/novetats.html" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Novetats</a>
                <a href="/project-landingpage-slavainc/pages/preus.html" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Preus</a>
                <a href="/project-landingpage-slavainc/pages/equip.html" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Equips</a>
                <a href="/project-landingpage-slavainc/pages/contacte.html" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Contacte</a>
            </div>
            <div class="mt-6 space-y-4">
                <a href="/project-landingpage-slavainc/pages/login.html" class="block text-lg text-gray-900">Iniciar sesión</a>
                <a href="/project-landingpage-slavainc/pages/register.html" class="block text-lg text-[#1f7275] font-semibold">Registrarse</a>
            </div>
        </div>
    </div>
</header>